langgraph
langchain
langmem
langchain-openai
langchain_openai
langchain_core
langchain-google-genai 
pillow
langchain
colpali_engine>=0.3.1
huggingface_hub[hf_transfer]
transformers>=4.45.0
qdrant-client
fsspec==2024.10.0
protobuf==3.20.3
langchain_google_genai
openai==1.55.3
httpx==0.27.2
psycopg2-binary
asyncio
langgraph-checkpoint-postgres